[Unit]
Description=Ermete OS Emergency Recovery Mode Target
Documentation=https://github.com/patapem/ermete-forge
Requires=ermete-recovery.service
AllowIsolate=yes
