[Unit]
Description=Athanor OS Pre-Boot GUI Recovery Kiosk
Documentation=https://github.com/hr-mes/athanor-forge
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@tty9.service

[Service]
LockPersonality=true
RestrictSUIDSGID=true
RestrictRealtime=true
MemoryDenyWriteExecute=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
CPUWeight=100
MemoryHigh=768M
MemoryMax=1024M
OOMScoreAdjust=-100
Type=simple
ExecStart=/usr/bin/sh -c 'export XDG_RUNTIME_DIR=/run/user/$(id -u); mkdir -p -m 0700 "$XDG_RUNTIME_DIR"; export WLR_NO_HARDWARE_CURSORS=1; exec /usr/bin/cage -s -m extend -- /usr/bin/athanor-recovery-ui'
Restart=on-failure
RestartSec=5
User=athanor-recovery
Group=athanor-recovery
SupplementaryGroups=video input
TTYPath=/dev/tty9
StandardInput=tty
StandardOutput=tty
StandardError=journal

# systemd hardening
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=/etc /var
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=no
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
MemoryDenyWriteExecute=no
LockPersonality=yes
SystemCallFilter=@system-service @mount

[Install]
WantedBy=athanor-recovery.target
