@import url("colors.css");

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: @base;
}

button {
    border-radius: 24px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: @text;
    background-color: @surface;
    margin: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter", "JetBrains Mono", sans-serif;
    color: transparent; /* Nascondiamo il testo per evitare sovrapposizioni, l'icona parla da sola */
    transition: background-color 0.3s, border-color 0.3s;
}

button:focus, button:active, button:hover {
    background-color: @primary;
    border: 2px solid @on_primary;
    outline-style: none;
}

#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
