[Unit]
Description=Athanor Generative UI Agent
PartOf=graphical-session.target

[Service]
MemoryDenyWriteExecute=true
CPUWeight=60
MemoryHigh=768M
MemoryMax=1024M
OOMScoreAdjust=200
ExecStart=/usr/libexec/athanor-ui-agent/agent.py
Restart=always

# Extreme Sandboxing
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
NoNewPrivileges=yes
SystemCallFilter=@system-service
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true

[Install]
WantedBy=default.target
