[Unit]
Description=Athanor Bcachefs Time-Warp Snapshot Trigger
Documentation=man:bcachefs(8)
ConditionPathExists=/usr/libexec/athanor-snapshot-trigger.sh

[Service]
MemoryDenyWriteExecute=true
CPUWeight=50
MemoryHigh=96M
MemoryMax=128M
Type=oneshot
ExecStart=/usr/libexec/athanor-snapshot-trigger.sh

# Extreme Sandboxing
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
NoNewPrivileges=yes
SystemCallFilter=@system-service
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true
