@use "../layouts" as *;
@use "../abstracts" as *;
@use "sass:color";

box.logout-background {
  background-color: $bg;
  .logout-menu {
    @include window;
    background-color: color.adjust($background, $alpha: -0.3);
    button {
      @include window-box;
      @include button;
      @include border;
      @include light-mode-shadow($shadow-type: "strong");
      margin: 1rem;
      &:focus {
        background: $buttonEnabledHover;
      }
      label {
        @include material-icon(15rem);
        margin: 0rem 1rem;
      }
    }
  }
}
