@use "../layouts" as *;
@use "../abstracts" as *;

.music.window {
  @include window;
  background: none;
  padding: 0rem;
  margin-top: $spacing-md;

  .cover {
    background-position: center;
    background-size: cover;
    border-radius: $round2;
    box-shadow: 0 1px 2px -1px $bg;
    margin: $spacing-sm;
    min-height: 13rem;
    min-width: 13rem;
    opacity: 0.9;
  }
  .blurred-cover {
    border-radius: $round;
    opacity: 0.8;
  }
  .cava-container {
    cava {
      opacity: 0.2;
    }
  }
}

.music.window .info {
  margin: $spacing-md;

  label,
  scale {
    margin: 0.3rem 0;
  }

  // Always use light colors on player text and controls.
  // Dark almost never works on on top of most cover arts.
  label,
  .title,
  image {
    @if not $darkmode {
      color: $background;
    }
  }

  label.position,
  label.length {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  scale {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 14rem;
  }
}

.music.window .controls {
  button {
    margin: 0 1.6rem;
    -gtk-icon-size: 1.5rem;
    @if not $darkmode {
      color: $background;
    }
  }
}

.music.window .player-info {
  margin-bottom: 0;

  .player-icon {
    -gtk-icon-size: $font;
  }
}
