@use "../layouts" as *;
@use "../abstracts" as *;
@use "sass:color";

.notification {
  @include window;
  @include border;
  margin: $spacing-md;
  padding: $spacing-sm $spacing-md;

  &.critical {
    border: 1px solid $red;
  }

  .header {
    .app-name {
      font-size: 0.9rem;
      font-weight: bold;
      color: color.adjust($fg, $alpha: -0.3);
    }
    .time {
      font-size: 0.9rem;
      font-weight: bold;
      color: color.adjust($fg, $alpha: -0.3);
    }
    .dismiss-button {
      margin: -0.5rem 0rem;
    }
  }

  separator {
    background-color: color.adjust($fg, $alpha: -0.5);
    min-height: 1px;
  }

  .content {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;

    > box {
      min-width: 64px;
      min-height: 64px;
      border-radius: $round;
      background-size: contain;
      background-repeat: no-repeat;
    }

    image {
      -gtk-icon-size: 64px;
    }
    .thumb {
      margin-right: 0.5rem;
    }

    .title {
      margin-right: 0.5rem;
      font-size: $font;
      font-weight: 500;
      color: $fg;
    }

    .body {
      margin-right: 0.5rem;
      font-size: 0.95rem;
      color: color.adjust($fg, $alpha: -0.2);
      margin-top: $spacing-md;
    }
  }
  .actions {
    margin-top: 1rem;

    .action-button {
      @include window-box;
      @include animate;
      padding: 0.5rem 1rem;
      font-size: 0.9rem;

      &:hover {
        background: $buttonDisabledHover;
      }
    }
  }
}
