[Unit]
Description=Nix Daemon
Requires=nix-daemon.socket
After=nix-daemon.socket

[Service]
ExecStart=/usr/bin/nix-daemon
KillMode=process
LimitNOFILE=1048576
LimitNPROC=1048576
TasksMax=1048576

[Install]
WantedBy=multi-user.target
