[Desktop Entry]
Type=Application
Name=Impostazioni di Sistema
Comment=Configura le impostazioni di sistema di Ermete OS
Exec=ermete-settings-rs
Icon=preferences-system
Terminal=false
Categories=Settings;System;
Actions=wifi;displays;appearance;

[Desktop Action wifi]
Name=Wi-Fi
Exec=ermete-settings-rs --page wifi

[Desktop Action displays]
Name=Schermi
Exec=ermete-settings-rs --page displays

[Desktop Action appearance]
Name=Aspetto
Exec=ermete-settings-rs --page appearance
