[Unit]
Description=Ermete OS Pre-Boot GUI Recovery Kiosk
Documentation=https://github.com/patapem/ermete-forge
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@tty9.service

[Service]
Type=simple
ExecStart=/usr/bin/cage -s -m last -- /usr/bin/ermete-recovery-ui
Restart=always
RestartSec=2
User=root
TTYPath=/dev/tty9
StandardInput=tty
StandardOutput=tty
StandardError=journal
SupplementaryGroups=video input

[Install]
WantedBy=ermete-recovery.target
