* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(30, 30, 46, 0.90);
}

button {
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    color: #cdd6f4;
    background-color: rgba(49, 50, 68, 0.7);
    margin: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    font-size: 22px;
    font-weight: bold;
    font-family: "Inter", "JetBrains Mono", sans-serif;
    color: transparent; /* Nascondiamo il testo per evitare sovrapposizioni, l'icona parla da sola */
    transition: background-color 0.3s, border-color 0.3s;
}

button:focus, button:active, button:hover {
    background-color: rgba(203, 166, 247, 0.8);
    border: 2px solid #cba6f7;
    outline-style: none;
}

#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
