[Unit]
Description=Anyrun Provider Daemon
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/anyrun-provider --socket /run/user/%U/anyrun.sock --config-dir %h/.config/anyrun
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
