[Unit]
Description=Anyrun Provider Daemon
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/anyrun-provider --config-dir %h/.config/anyrun --plugins /usr/lib64/anyrun socket /run/user/%U/anyrun.sock
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
