[Unit]
Description=EasyEffects Audio Processing
PartOf=niri-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/flatpak run --command=easyeffects com.github.wwmm.easyeffects --gapplication-service
Restart=on-failure
RestartSec=2

[Install]
WantedBy=niri-session.target
