[Unit]
Description=Ermete OS Firstboot Start Notification
ConditionPathExists=!/var/lib/ermete-firstboot-done
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/notify-send "Ermete OS" "Download app essenziali in background..." -t 15000

[Install]
WantedBy=graphical-session.target
