[Unit]
Description=Ermete OS Wayland Environment Sync
DefaultDependencies=no
Before=graphical-session-pre.target graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "while ! systemctl --user show-environment | grep -q '^WAYLAND_DISPLAY='; do sleep 0.2; done"

[Install]
WantedBy=graphical-session.target
