[Unit]
Description=Ironbar (Wayland Status Bar)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/ironbar
Restart=on-failure
RestartSec=2
Environment=GTK_USE_PORTAL=0

[Install]
WantedBy=graphical-session.target
