[Unit]
Description=LXPolkit Authentication Agent
PartOf=niri-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/bin/lxpolkit
Restart=on-failure
RestartSec=2
Slice=app-graphical.slice

[Install]
WantedBy=niri-session.target
