[Unit]
Description=Mako (Wayland Notification Daemon)
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
Type=simple
ExecStart=/usr/bin/mako
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
