[Unit]
Description=Mako (Wayland Notification Daemon)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mako
Restart=on-failure
RestartSec=2
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
