[Unit]
Description=polkit-gnome Authentication Agent
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=/usr/libexec/polkit-gnome-authentication-agent-1
Restart=on-failure
RestartSec=2
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
