[Unit]
Description=Athanor OS TPM 2.0 PCR Sealing for LUKS /var/home
Documentation=man:systemd-cryptenroll(1)
After=local-fs.target tpm2-abrmd.service systemd-tpm2-setup.service
ConditionPathExists=!/etc/athanor/tpm2-luks-sealed.stamp

[Service]
MemoryDenyWriteExecute=true
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/athanor-tpm-luks-seal.sh
ExecStartPost=/usr/bin/touch /etc/athanor/tpm2-luks-sealed.stamp

# Extreme Sandboxing
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
NoNewPrivileges=yes
SystemCallFilter=@system-service
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
