[Unit]
Description=Athanor OS TPM2 Monotonic Counter Rollback Check
DefaultDependencies=no
Before=systemd-pcrphase-sysinit.service sysinit.target
After=tpm2-abrmd.service local-fs.target
Wants=tpm2-abrmd.service

[Service]
MemoryDenyWriteExecute=true
CPUWeight=50
MemoryHigh=64M
MemoryMax=128M
Type=oneshot
ExecStart=/usr/libexec/athanor/athanor-tpm-rollback-check.sh
RemainAfterExit=yes

# Extreme Sandboxing
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
NoNewPrivileges=yes
SystemCallFilter=@system-service
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true

[Install]
WantedBy=sysinit.target
