[Unit]
Description=Athanor OS Bcachefs Snapshot & Time Machine Daemon
Documentation=https://github.com/hr-mes/athanor-forge
PartOf=multi-user.target

[Service]
MemoryDenyWriteExecute=true
CPUWeight=20
IOWeight=20
MemoryHigh=384M
MemoryMax=512M
OOMScoreAdjust=300
Type=simple
ExecStart=/usr/bin/athanor-backup-daemon
Restart=always
RestartSec=3

# Extreme Sandboxing
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
NoNewPrivileges=yes
SystemCallFilter=@system-service
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
