[Unit]
Description=Athanor OS Core Bedrock & Settings Daemon
Documentation=https://github.com/hr-mes/athanor-forge
After=network-online.target dbus.service
Requires=dbus.service

[Service]
MemoryDenyWriteExecute=true
CPUWeight=150
CPUQuota=100%
MemoryHigh=384M
MemoryMax=512M
OOMScoreAdjust=-100
CapabilityBoundingSet=CAP_NET_ADMIN CAP_SYS_NICE
AmbientCapabilities=CAP_NET_ADMIN CAP_SYS_NICE
Type=dbus
BusName=org.athanor.Settings
ExecStart=/usr/bin/athanor-daemon-rs
Restart=always
RestartSec=3s


# Extreme Sandboxing
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
NoNewPrivileges=yes
SystemCallFilter=@system-service
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true

[Install]
WantedBy=multi-user.target
