polkit.addRule(function(action, subject) {
    if (action.id == "org.containers.bootc.status" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});