[Unit]
Description=Niri Wayland Compositor Session
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
