[Unit]
Description=Athanor OS - Initial Forward Secure Sealing (FSS) Key Setup
Documentation=man:journalctl(1) man:systemd-journald.service(8)
DefaultDependencies=no
After=systemd-journald.service
Before=sysinit.target
ConditionPathExistsGlob=!/var/log/journal/*/fss.key

[Service]
MemoryDenyWriteExecute=true
ProtectKernelLogs=true
CPUWeight=50
MemoryHigh=64M
MemoryMax=128M
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/journalctl --setup-keys
ExecStartPost=/usr/bin/systemctl restart systemd-journald.service
ExecStartPost=/usr/bin/systemctl disable athanor-journal-seal.service

# Extreme Sandboxing
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=true
NoNewPrivileges=yes
SystemCallFilter=@system-service
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true
ReadWritePaths=/var/log/journal /etc/systemd

[Install]
WantedBy=sysinit.target multi-user.target
