[Unit]
Description=BTRFS Monthly Maintenance (Balance & Scrub)
ConditionPathIsMountPoint=/var/home

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'btrfs balance start -dusage=50 -musage=50 /sysroot && btrfs scrub start -B /sysroot'

# Ottimizzazione Prestazionale: Esecuzione in Background Assoluto
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Nice=19
OOMScoreAdjust=1000
