[Unit]
Description=Ermete OS Flatpak Auto-Update and Cleanup
Documentation=man:flatpak(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# Aggiornamento non interattivo delle app di sistema ed utente
ExecStart=/usr/bin/flatpak update -y --noninteractive
# Pulizia dei runtime non utilizzati per zero-bloat
ExecStart=/usr/bin/flatpak uninstall --unused -y --noninteractive
# Sicurezza e limitazione risorse
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Nice=19
OOMScoreAdjust=500
