[Unit]
Description=Ermete OS - Restore Nix Store from Image
DefaultDependencies=no
After=nix.mount
Before=nix-daemon.socket nix-daemon.service sysinit.target
ConditionPathExists=!/var/opt/nix/store
ConditionPathIsDirectory=/usr/share/nix-initial-state

[Service]
Type=oneshot
# Copy the pre-populated Nix store from the OCI image to the writable stateful mountpoint
ExecStart=/bin/cp -a /usr/share/nix-initial-state/. /nix/
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
