[Unit]
Description=Ermete OS - Auto Btrfs Snapshot for /var/home
Before=ostree-finalize-staged.service
ConditionPathExists=/var/home

[Service]
Type=oneshot
ExecStart=/usr/libexec/ermete-snapshot.sh

# Ottimizzazione Prestazionale: Snapshot in Background Assoluto
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Nice=19
OOMScoreAdjust=1000

[Install]
WantedBy=ostree-finalize-staged.service
