[Unit]
Description=Nix Daemon Socket
ConditionPathIsDirectory=/nix/store

[Socket]
ListenStream=/nix/var/nix/daemon-socket/socket

[Install]
WantedBy=sockets.target
