[Unit]
Description=Bind Mount dichiarativo per Nix state su Bedrock volatile
DefaultDependencies=no
Before=nix-daemon.service local-fs.target

[Mount]
What=/var/opt/nix/var
Where=/nix/var
Type=none
Options=bind,rw,nosuid,nodev

[Install]
WantedBy=local-fs.target
