[Unit]
Description=Nix Daemon
Requires=nix-daemon.socket
ConditionPathIsDirectory=/nix/store

[Service]
ExecStart=/usr/bin/nix-daemon
KillMode=process

[Install]
WantedBy=multi-user.target
