[Unit]
Description=Nix Daemon Socket
ConditionPathIsDirectory=/nix/store

[Socket]
ListenStream=/run/nix-daemon-socket/socket

[Install]
WantedBy=sockets.target
