[Unit]
Description=Nix Directory Mount
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target
ConditionPathExists=/var/opt/nix

[Mount]
What=/var/opt/nix
Where=/nix
Type=none
Options=bind

[Install]
WantedBy=local-fs.target
