[Unit]
Description=Cilium Tetragon eBPF Runtime Security Daemon
Documentation=https://github.com/cilium/tetragon
After=network.target local-fs.target
Wants=local-fs.target

[Service]
LockPersonality=true
RestrictSUIDSGID=true
RestrictRealtime=true
MemoryDenyWriteExecute=true
ProtectKernelModules=true
Type=simple
CPUWeight=100
MemoryHigh=512M
MemoryMax=1024M
ExecStart=/usr/bin/tetragon --config-dir=/etc/tetragon/tetragon.tp.d --export-filename=/var/log/tetragon/tetragon.log
Restart=always
RestartSec=5s
KillMode=process
LimitMEMLOCK=infinity
AmbientCapabilities=CAP_SYS_ADMIN CAP_SYS_RESOURCE CAP_SYS_PTRACE CAP_NET_ADMIN CAP_PERFMON CAP_BPF CAP_DAC_OVERRIDE CAP_SETUID CAP_SETGID
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_SYS_RESOURCE CAP_SYS_PTRACE CAP_NET_ADMIN CAP_PERFMON CAP_BPF CAP_DAC_OVERRIDE CAP_SETUID CAP_SETGID
ProtectHome=yes
ProtectSystem=strict
PrivateTmp=true
NoNewPrivileges=yes
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
