@use "../../../layouts" as *;
@use "../../../abstracts" as *;
@use "sass:color";

.weather-widget {
  @include widget-container;

  .current-weather {
    .current-icon {
      @include material-icon(100px);
      color: $fg;
    }

    .weather-temp {
      font-size: $font;
      font-weight: 700;
      margin-bottom: 0.2rem;
    }

    .weather-desc {
      font-size: $font;
      color: $outline;
      margin-bottom: 0.2rem;
    }

    .weather-extra {
      font-size: $font;
      color: $outline;
    }
    .weather-extra-icon {
      @include material-icon(25px);
    }
  }

  .forecast-row {
    margin-top: $spacing-sm;

    .forecast-item {
      min-width: 3rem;

      .forecast-hour {
        font-size: $font;
        color: $outline;
      }

      .forecast-icon {
        @include material-icon(32px);
        margin: 0.3rem 0;
        color: $fg;
      }

      .forecast-temp {
        font-size: $font;
        font-weight: 500;
        color: $fg;
      }
    }
  }
}
